version: "3"
services:
  nginx:
    container_name: ds1-nginx
    build: ./docker
    command: tail -f /dev/null
    networks:
      ds1-container-network:
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/html:/var/www/html
      - /home/nginx:/usr/share/nginx:ro

  certbot:
    image: certbot/certbot:v1.7.0
    command: >
      /bin/sh -c '
      tail -f /dev/null
      ["--version"]
      '
    networks:
      ds1-container-network:
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/html:/var/www/html

networks:
  ds1-container-network:
    ipam:
      driver: default
      config:
        - subnet: 10.254.249.0/24